<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">CREDIT CARDS</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">{{ accion | uppercase }} TARJETA</h5>
                    <form [formGroup]="form" (ngSubmit)="saveCreditCard()">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fas fa-user" [class.green-icon]="this.form.get('cardHolder')?.valid"
                                    [class.red-icon]="this.form.get('cardHolder')?.invalid && this.form.get('cardHolder')?.touched"></i>
                            </span>
                            <input formControlName="cardHolder" type="text" class="form-control"
                                placeholder="Card Holder">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fas fa-credit-card" [class.green-icon]="this.form.get('cardNumber')?.valid"
                                    [class.red-icon]="this.form.get('cardNumber')?.invalid && this.form.get('cardNumber')?.touched"></i>
                            </span>
                            <input formControlName="cardNumber" maxlength="16" type="text" class="form-control"
                                placeholder="Card Number">
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fas fa-calendar-alt"
                                            [class.green-icon]="this.form.get('expirationDate')?.valid"
                                            [class.red-icon]="this.form.get('expirationDate')?.invalid && this.form.get('expirationDate')?.touched"></i>
                                    </span>
                                    <input formControlName="expirationDate" maxlength="5" type="text"
                                        class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fas fa-key" [class.green-icon]="this.form.get('cvv')?.valid"
                                            [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"></i>
                                    </span>
                                    <input formControlName="cvv" maxlength="3" type="password" class="form-control"
                                        placeholder="CVV">
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                                <i class="fas fa-database"></i>&nbsp; Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">CARD LIST</h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let tarjeta of creditCardsList">
                                <td>{{ tarjeta.cardHolder }}</td>
                                <td>{{ tarjeta.cardNumber }}</td>
                                <td>{{ tarjeta.expirationDate }}</td>
                                <td>
                                    <i (click)="editCreditCard(tarjeta)" class="far fa-edit text-info"></i>
                                </td>
                                <td>
                                    <i (click)="deleteCreditCard(tarjeta.id)" class="far fa-trash-alt text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>